Main/.vs/Main/v15/Server/sqlite3/storage.ide-wal
Main/.vs/Main/v15/Server/sqlite3/storage.ide-shm
Main/.vs/Main/v15/Server/sqlite3/storage.ide
Main/Company/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Main/Company/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Main/Company/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Main/.vs/Main/v15/Server/sqlite3/db.lock
Main/TestCompany/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Main/TestCompany/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Main/TestCompany/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
